
/* ========== Globals ============ */
:root {
  --header: 'Ubuntu', sans-serif;
  --text: "DIN Next Rounded LT W01 Regular", sans-serif;
  --cl-yellow: #ffcc34;
  --cl-blue: #5fbfff;
  --cl-mixed: #485aff;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header);
}

p {
  font-family: var(--text);
}

hr {
  width: 80%;
  transform: translate(13.5%);
  margin-top: 5rem;
  margin-bottom: 5rem;
}


/*============= Navbar ============== */
.nav-container {
  display: flex;
  justify-content: space-between;

}

.navbar {
  box-shadow: 0 0 5px 5px lightgray;
  height: 5rem;
  font-size: x-large;
}

.nav-header {
  font-size:1.5rem;
  padding-top: .5rem;
}

.heading-sub-flex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding-left: -125px;
}

.nav-links {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  width: 75%;
  padding-left: .5rem;
  margin-left: 2rem;
}

.scroll-links {
  font-family: var(--text);
  font-size: 1.5rem;
  border-radius: 12px;
  padding: .5rem .7rem;
}

.scroll-links:hover {
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 12px;
  transition: .2s;
  background: var(--cl-mixed);
  color: white;
}

.resume-btn {
  background-color: var(--cl-mixed);
  font-family: var(--text);
  font-size: 1.5rem;
  border-radius: 6px;
  color: white;
  padding: .5rem 1rem; 
  border: none;
}

.resume-btn:hover {
  background-color: var(--cl-blue);
  transition: .2s;
}

.resume-btn:active {
  transform: scale(.95);
  transition: .05s;
  background: var(--cl-mixed);
}


/*============= Hero ============== */
.hero-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding-bottom: .2rem;
  padding-top: .2rem;
  width: 70%;
  transform: translate(17%);
  position: relative;
  background: white;

}

.hero-container:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  transform: translate(7.5%);
  border-radius: 12px;
}

.hero-container:after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -2;
  filter: blur(40px);
  transform: translate(7.5%);
  /* animation-name: tilt;
  animation-duration: infinite; */
}

.hero-container:before,
.hero-container:after {
  background: linear-gradient(35deg, var(--cl-blue), var(--cl-mixed), var(--cl-yellow));
  transform: rotate(6deg);
  /* animation-name: tilt;
  animation-duration: 5000s;
  animation-play-state: running; */

  /* background: linear-gradient(35deg, #5fbfff, #fff, #ffcc34); */
}

.hero-bkg {
  background: white;
  transform: translate(7.5%);
  margin-left: .2rem;
  margin-right: .2rem;
  padding-bottom: 2rem;
  border-radius: 12px;
  box-shadow: 5px 5px 5px black;
  /* box-shadow: 5px 5px 5px #ffcc34; */
}

.hero-header {
  font-size: 8rem;
  display: block;
  /* margin-left: 5rem; */
  margin-bottom: 2rem;
  padding-top: -3rem;
  width: 100%;
  text-align: center;
}

.hero-subtitle {
  display: block;
  margin: 0 5rem;
  text-align: center;
  font-style: italic;
}

/* @keyframes tilt {
  from {
    transform: rotate(6deg)
  }
  to {
    transform: rotate(-6deg)
  }
} */


/*============= Infinite Scroller ============== */

.scroller {
  max-width: 80%;
  margin: -4rem auto;
  color: white;
}

.scroller[data-animated="true"]{
  overflow: hidden;

  -webkit-mask: linear-gradient(90deg, transparent, white 25%, white 75%, transparent);
  mask: linear-gradient(90deg, transparent, white 25%, white 75%, transparent);
}

.scroller[data-animated="true"] .scroller_inner {
  width: fit-content;
  flex-wrap: nowrap;
  animation: 
    scroll 
    var(--_animation-duration, 200s) 
    var(--_animation-direction, forwards) 
    linear 
    infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 120s;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

@keyframes scroll {
  to {
    transform: translate(-100%);
  }
}

.scroller_inner {
  padding-block: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.scroll-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.scroll-list1 li{
  padding: 1rem;
  /* background: #354255; */
  /* border-radius: 0.5rem; */
  box-shadow: 0 0.5rem 1rem -0.25rem hsl(218, 33%, 9%);
}

.scroll-list li{
  padding: 1.65rem;
  z-index: -1;
  /* box-shadow: 0 0.5rem 1rem -0.25rem hsl(218, 33%, 9%); */
}

.school-img {
  height: 350px;
}


/*============= Bio ============== */

.bio-container {
  display: flex;
  flex-direction: row;

  gap: 4rem;
  margin-bottom: 3rem;
}

.bio-img {
  height: 550px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px lightgray;
}


.bio-header {
  font-family: var(--header);
  font-size: 3rem;
}

.bio-text {
  font-family: var(--text);
  font-size: 1.35rem;
}

/* ===========EduCard=========== */
.academiaSection h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  position: relative;

}

/* .academicIcon {
  position: absolute;
  z-index: -10;
  top: 204%;
  right: 3.5%;
  height: 300px;
  transform: rotate(15deg);
} */

.eduCard {
  border: none;
  border-radius: 12px;
  /* box-shadow: 0 0 15px lightgray; */
  box-shadow: 5px 5px 15px black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 400px;
}

.eduCard:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px var(--cl-mixed);
  transition: .2s ease-in-out;
}

/* .eduCard:first-of-type:hover{
  box-shadow: -5px 5px 15px var(--cl-mixed);
}

.eduCard:last-of-type:hover{
  box-shadow: 5px 5px 15px var(--cl-mixed);
} */

.edu-img {
  height: 350px;
  width: 350px;
  object-fit:cover;
  border-radius: 12px;
}

.eduCard h2, .eduCard p {
text-align: center;
}

.eduCard h2 {
margin-top: 1rem;
}

.eduCard p {
  font-size: 1.3rem;
}

.card-display {
  display: flex;
  justify-content: center;
  gap: 5rem;
}


/*============= Dev ============== */
.devTitle {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.devFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 3rem;
}

.devList {
  display: flex;
  flex-direction: column;
  font-family: var(--header);
  font-size: 2rem;
}

.devList li {
  list-style: none;
  border-bottom: 2px solid lightgray;
  /* margin-bottom: 1.5rem; */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.devList li:last-child {
  border-bottom: none;
}

.devList li:hover {
  color: var(--cl-mixed);
  cursor: pointer;
}

.devImg {
  box-shadow: 5px 5px 15px black;

}

.projectDescription {
  font-size: 1.25rem;
  text-align: center;
  width: 75%;
  transform: translate(17.5%);
  padding-bottom: 3rem;
  z-index: 2;
}

.gitHubIcon {
  height: 3rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.gitHubIcon:hover {
  box-shadow: 0 0 1rem var(--cl-mixed);
}

.gitHubIcon:active {
  transform: scale(.95);
  background-color: var(--cl-mixed);
}

/*============= Footer ============== */

.toTopLink {
  text-decoration: none;
}

.toTop {
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
  transform: translateY(4rem);
  color: white;
}

.toTop:hover {
  color: var(--cl-mixed);
  cursor: pointer;
  transition: .2s ease-in;
}

.flexFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 5rem;
  background: black;
  box-shadow: 0px 0px 20px black;
}

.footerLinksListItems {
  list-style: none;
  width: fit-content;
}

.footerLinksListItems li p:hover {
  color: var(--cl-mixed);
}

.footerLinksListItems li img {
  height: 2.5rem;
  margin-right: 1rem;
  margin-bottom: .7rem;
}

.footerLinksListItems li a:first-child {
  text-decoration: none;
}
.roundFooterImgs {
  background: white;
  border-radius: 8px;
  padding: 2px;
}

.footerLinksListItems li p {
  font-size: 1.5rem;
  color: white;
}

.footerRepo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footerRepo h3 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.footerRepo button {
  background-color: white;
  color: var(--cl-mixed);
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  font-family: var(--text);
  align-items: center;
  padding: .75rem 1.5rem;
  box-shadow: 0 0 45px var(--cl-mixed);
}

.footerRepo button:hover {
  background-color: var(--cl-mixed);
  box-shadow: 0 0 45px var(--cl-mixed);
  color: white;
  transition: .1s ease-in-out;
}

.footerRepo button:active {
  transform: scale(.95);
  transition: .025s;
}